body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 50vh;
    background: #8d8585;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.quote-text {
    
    font-size: 1.5rem;
    font-weight: 300;
}
.quote-author {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}